<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <div class="field is-horizontal">
    <div class="field-body">

      <div class="field is-narrow">
        <div class="control">
          <input [(ngModel)]="item.amount" name="amount" required class="input" type="number" style="width: 110px;"
            placeholder="Amount">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input [(ngModel)]="item.description" name="description" required class="input" type="text"
            placeholder="Description" autocomplete="off">
        </div>
      </div>

      <div class="field is-narrow">
        <button type="submit" class="button is-primary" [disabled]="!itemForm.valid">Add</button>
      </div>
    </div>
  </div>
</form>