<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container navbar_container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">BudgetApp</a>
    </div>
  </div>
</nav>

<section class="total-budget-section is-light">
  <h1 class="red">1500</h1>
</section>

<section class="add-item">
  <div class="add-item-container">
    <app-add-item-form (formSubmit)="addItem($event)"></app-add-item-form>
  </div>
</section>

<app-budget-item-list [budgetItems]="budgetItems" (deleteItem)="delete($event)"></app-budget-item-list>